body {
	font-family: Arial, sans-serif;
	padding:0;
	margin:0;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;

}
.logo {
	margin-top: 42px;
	float:left;
}

div {
	box-sizing: border-box;
}
header {
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
padding-bottom: 160px;

} 

nav {
	float: right;
	margin-top: 41px;
}

.menu li a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}
.menu li {
float:left;
display:block;
margin-right: 41px;

}
.container {
	width: 940px;
	margin: 0 auto;
}
.titles__fist {
	color : white;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 165px;
}
h1 {
		color : white;
	font-size: 75px;
	text-transform: uppercase;
	text-align: center;
	margin:20px;
}

.button {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 32px 0;
	margin: 0 auto;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	margin-top: 35px;
}
.title {
padding-top:115px;
margin-bottom: 65px;
}
.title h2 {
font-size: 40px;
font-weight: bold;
text-align: center;
text-transform: uppercase;
margin: 5px;
}
.title p {
color: #777777;
text-align:center;
font-size: 16px;
margin: 0;
}

.services {

}

.services__item {
	width: 270px;
	text-align: center;
	float: left;
}

.services__item h3{
	font-size: 18px;
	margin-bottom: 5px;

}
.services__item p {
	color: #777777;
font-size: 14px;
line-height: 1.6em;
margin-bottom: 75px;
}

.services__item:last-child {
float: right;
}

.services__item:nth-child(2) {
	margin-left: 64px;
}

#Portfolio {
	background:#f7f7f7;
	padding-bottom: 120px;
}

.works img {
float:left;
margin-top: 62px;

}

.works img:last-child {
	float:right;
}

.works img:nth-child(2) {
	margin-left: 34px;
}

.container2 {
	width: 50%;
	display: flex;
	margin-left: 25px;
	justify-content: center;
	 align-self: center;

}


